<div class="p-sm-5 p-2 bg-secondary">
  <div class="container-fluid">
    <!-- title -->
    <div class="row">
      <div class="col text-center mb-3">
        <h1 class="text-warning display-2">Tickets</h1>
        <p class="lead text-light">
          Here you can see all tickets we offer and their prices.
        </p>
      </div>
    </div>
    <button class="btn btn-danger" (click)="getTickets()">Press Me</button>
    <!-- end of title -->
    <div class="row">
      <div class="col-lg-3 col-sm-10 mx-auto mb-4">
        <div class="card">
          <!-- <img src="images/kid1.jpg" alt="kid1" class="card-img-top" /> -->
          <div class="card-body">
            <div class="card-title">
              <h3 class="text-muted">Hourly</h3>
            </div>
            <hr>
            <div class="card-subtitle">
              <p class="lead text-secondary">This ticket is valid just for one hour</p>
            </div>
            <div class="text-right">
              <a href="#"
                ><i class="fa fa-ticket fa-2x mx-2 text-primary"></i
              ></a>
              <p>Price</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>