<div class="row jumbotron-fluid moiClassView p-2 m-0" style="font-size: 14px">
    <div class="col">
            <table class="table table-striped table-dark moiClassTimeTable" style="font-size: 16px">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Surname</th>
                  <th scope="col">User Type</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
                <tr>
                    <th scope="row">1561</th>
                  <td>Mika</td>
                  <td>Radovic</td>
                  <td>student</td>
                  <td><button class="btn btn-default moiClassButton">Review</button></td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="col">
        <table class="table table-dark moiClassTimeTable moiClassUserRequest" style="font-size: 16px">
            <thead>
              <tr>
                <th colspan="2" class="text-center" scope="col">1561 : User Request</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Name:</th>
                <td>Mika</td>
              </tr>
              <tr>
                  <th scope="row">Surname:</th>
                <td>Radovic</td>
              </tr>
              <tr>
                  <th scope="row">Date of Birth:</th>
                <td>25/05/1996</td>
              </tr>
              <tr>
                  <th scope="row">Address:</th>
                <td>Bulevar Kralja Petra I/51, Novi Sad</td>
              </tr>
              <tr>
                  <th scope="row">E-mail</th>
                <td>mika@gmail.com</td>
              </tr>
              <tr>
                  <th scope="row">User Type:</th>
                <td>student</td>
              </tr>
              <tr>
                  <th scope="row">Document:</th>
                <td>N <br> O <br> O <br> O <br></td>
              </tr>
              <tr>
                <td colspan="2" class="text-center"><button class="btn btn-default moiClassButton moiClassButtonApproved">Approve</button></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>