<nav [ngClass]="{'navbar navbar-expand-md navbar-light p-0': loggedIn()}">

    <div class="">
      <div [ngClass]="{'container-fluid': loggedIn()}">
        <div [ngClass]="{'row': loggedIn()}">
          <!-- SIDEBAR -->
          <div *ngIf="loggedIn()" class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
            <a
              href="#"
              class="navbar-brand text-white d-block 
              mx-auto text-center py-3 mb-4 bottom-border"
              >AdminDashboard</a
            >
            <div class="bottom-border pb-3">
              <img
                src="../../assets/admin.jpeg"
                alt="Admin image"
                width="50"
                class="rounded-circle mr-3"
              />
              <a href="#" class="text-white">Hellen Smith</a>
            </div>
            <ul class="navbar-nav flex-column mt-4">
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 current">
                  <i class="fas fa-home text-light fa-lg mr-3"></i>
                  Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-user text-light fa-lg mr-3"></i>
                  Profile</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-envelope text-light fa-lg mr-3"></i>
                  Inbox</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-shopping-cart text-light fa-lg mr-3"></i>
                  Sales</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-chart-line text-light fa-lg mr-3"></i>
                  Analytics</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-chart-bar text-light fa-lg mr-3"></i>
                  Charts</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-table text-light fa-lg mr-3"></i>
                  Tables</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-wrench text-light fa-lg mr-3"></i>
                  Settings</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                  <i class="fas fa-file-alt text-light fa-lg mr-3"></i>
                  Documentation</a
                >
              </li>
            </ul>
          </div>
          <!-- END OF SIDEBAR -->

              <div [ngClass]="{'row':loggedIn()}">
                <div [ngClass]="{'col-xl-10 col-lg-9 col-md-8 ml-auto p-0': loggedIn()}">
          
          
          <div class="row jumbotron-fluid m-0 moiClassOrangeDiv"> <!--jumbotron-->
            <img src="../assets/s5.jpg" class="img-fluid moiClassHomeImg" alt="Responsive image">
            <div class="col-md-12 text-center my-5 moiClassCapture p-0">
              <h1 style="color: white">Public Transport</h1>
              <h4 style="color: white">Novi Sad</h4>
              <div *ngIf="!loggedIn()" class=""> <!--hidden-->
                  <button (click)="openModalLogin()" class="btn btn-default moiClassButton">&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;</button>
                  <button (click)="openModalRegister()" class="btn btn-default moiClassButton">Registration</button>
              </div>
              <div *ngIf="loggedIn()" class="">
                <button (click)="logout()" class="btn btn-default moiClassButton moiClassButtonLogout">Logout</button>
            </div>
            </div>
          </div>
          <div class="row m-0 moiClassWhiteDiv">
            <div [routerLink]="['/timetable']" routerLinkActive="router-link-active"  class="col text-center moiClassIconMenu" style="border: transparent">
                <img class="moiClassButtonMenu" src="../assets/905668-512.png" alt="TimeTable">
                <p style="color: orange">Timetable</p>
            </div>
            <div [routerLink]="['/map']" routerLinkActive="router-link-active"  class="col text-center moiClassIconMenu">
                <img class="moiClassButtonMenu" src="../assets/1291745-512.png" alt="Map">
                <p style="color: orange">Map</p>
            </div>
            <div [routerLink]="['/tickets']" routerLinkActive="router-link-active"  class="col text-center moiClassIconMenu">
                <img class="moiClassButtonMenu" src="../assets/3545100-512.png" alt="Ticket">
                <p style="color: orange">Buy a ticket</p>
            </div>
            <div [routerLink]="['/ticket']" routerLinkActive="router-link-active" *ngIf="loggedIn()" class="col text-center moiClassIconMenu">
                <img class="moiClassButtonMenu" src="../assets/4544813-512.png" alt="Card">
                <p style="color: orange">My card</p>
            </div>
            <div [routerLink]="['/updateAccount']" routerLinkActive="router-link-active" *ngIf="loggedIn()" class="col text-center moiClassIconMenu">
              <img class="moiClassButtonMenu" src="../assets/2703063-512.png" alt="Card">
              <p style="color: orange">My account</p>
          </div>
          </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </nav>
  <!-- END OF NAVBAR -->
